{{>header}}

        <div id="notes-display">
            <div id="notes-title">
                <h2>{{title}}</h2>
            </div>
            <div id="notes-content">
                {{noteData}} </div>
        </div>


    </section>


    </body>

</html>
